*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "inter" ;
}
/*FONT*/
@font-face {
    font-family: "inter" ;
    src: url("fonte/Inter-Desktop/Inter-Medium.otf") format("opentype")
}













/*HEADER*/
.bckg-header{
    background-image: url(imagens/luz-roxa-luz-topo-mask.1647533643.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navegation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 70vw;
    gap: 1rem;
    margin: auto;
    padding-top: 2rem;
    text-transform: uppercase;
    font-family: "inter";
}
.navigation-header img{
    width: 100px 
}
.navegation-header ul li a{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    font-size: 0.7rem;
}
.navegation-header ul li a:hover{
    color: rgba(255, 255, 255, 0.593);
}
#search-img{
    display: none;
}
#form{
    border: 1px solid rgba(255, 255, 255, 0.357);
    padding: 0.9rem  1.5rem;
    display: flex;
    align-items: center;
    border-radius:0.2rem ;
    justify-content: space-between;
    width: 20rem;  
}
#search{
    border: none;
    background-color: transparent;
}
#btn-lupa{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.infos{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: 0.9rem;
    align-items: center;
}

.btns-header{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    color: white;
    align-items: center;
}
.btns-header li a{
    color: white;
    text-decoration: none;
}
#btn-login{
    font-size: 0.7rem;
}
#btn-register{
    color: black;
    background-color: hsl(138, 100%, 82%);
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 0.8rem;
}

.home-header{
    width: 70vw;
    margin: auto;
}
.txt-header{
    color: white;
    width: 50%;
    margin-bottom: 2rem;
}
.txt-header h1{
    font-size: 3.3rem;
    text-transform: capitalize;
    width: 60%;
    margin-bottom: 2rem;
}
.txt-header p {
    width: 70%;
    color: #ffffffa3;
}
.header-backgound{
    padding: 2rem 0;
    background-image: url(imagens/ilustrações-de-background/ilustra-alura-escafandro.1647533643.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size:auto;
    margin-top: 2rem;
    z-index: 5;
}

.contain-elements{
    display: flex;
    width: 70vw;
    gap: 1rem; 
}
.contain-elements a{
    text-decoration: none;
}

.second{
    margin-top: 0.5rem;
}
.div-contain{
    width: 12.5rem;
    background-color: hsl(214, 82%, 11%);
    border: 1px solid hsl(213, 83%, 35%);
    padding: 1rem;
    border-radius: 0.5rem;
    height: 13rem;
    transform: translateY(0);
    transition-duration: 0.5s;
    z-index: 3;
}
.flex-small-view{
    position: relative;
    z-index: 5;
}
.div-contain:hover{
    border: 1px solid hsl(213, 72%, 65%); 
    transform: translateY(10px);
}
.div-contain p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.77);
}
.div-contain p:hover{
    text-decoration: underline;   
}
.categories-link-text{
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.title-content {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
}
.color1{
    color:hsl(154, 100%, 38%) ;
}
.color2{
    color:hsl(199, 93%, 69%);
}
.color3{
    color:hsl(85, 51%, 47%);
}
.color4{
    color:hsl(358, 83%, 66%) ;
}
.color5{
    color:hsl(310, 34%, 53%) ;
}
.color6{
    color:hsl(43, 97%, 51%);
}

.color7{
    color:hsl(27, 99%, 58%);
}


.linha-transversal::after {
    content: '';
    width: 100%;
    height: 13em;
    position: absolute;
    bottom: 4rem;
    background: #fff;
    -webkit-transform: skewY(-6deg);
    transform: skewY(-2deg);
}
@media (min-width:1900px){
    .linha-transversal::after {
        bottom: 4rem;
    }
}
@media (max-width:1800px){
    .linha-transversal::after {
        bottom: -8rem;
    }
    
}
@media (min-width: 1280px){
    .navegation-header{
        width: 72rem;     
    }

    .home-header{
        width: 72rem;
    }
    .video-section {
        gap: 2rem;
        justify-content: center;
        margin: 25px auto 130px;
        padding-top: 5rem;
    }
   
    
  
    
 }
 @media (max-width: 1280px){
    .navegation-header{
        width: 95vw;     
    }
    .home-header {
        width: 95vw; 
    }
    .infos li{
        width: 50%;
    }
    #btn-register {
        font-size: 0.8rem;
    }
    .txt-header h1 {
        font-size: 3rem;
    }
  
    .video-section {
        gap: 2rem;
        justify-content: center;
        margin: 25px auto 130px;
        padding-top: 5rem;
    }
    
  
 
}
@media (max-width: 1000px){
    .linha-transversal::after {
        bottom: -7rem;
    }
}
@media (max-width: 1100px){
    .navegation-header{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #form{
        width: 80%;
    }
    .txt-header h1 {
        font-size: 3rem;
    }
    .flex-small-view{
        display: flex;
        flex-direction:row;
        width: 50%;
    }
    .div-contain{
        height: auto;
        margin: 0;
    }
    .div-contain p{
        display: none;
    }
    .contain-elements a{
        width: 50%;
    }
    .contain-elements{
        flex-direction: column;
        margin: 0;
        gap: 1rem;
    }
   
    .second{
        order: -1;
        margin: 0;
        margin-right: 0.5rem;
    }
    .linha-transversal::after {
        bottom: -17rem;
    }
    
}

@media (max-width: 620px){
    .linha-transversal::after {
        bottom: -6em;
    }
}
@media (max-width: 620px){
    .txt-header {
        width: 100%;
    }
    .txt-header h1 {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 1rem;
    }
    .txt-header p {
        width: 100%;
        color: rgba(255, 255, 255, 0.831);
    }
    .header-backgound{
        background-image: none;
    }
  
    .navegation-header img{
        order: -1;
    }
    .infos{
        text-align: center;
       border: 1px solid white;
       padding: 1rem 0;
       width: 100%;
       border-left: none;
       border-right: none;
    }
    #form {
       display: none;
       border: none;
       width: 100%;
    }
    #form.active{
        display: flex;
    }
    #search-img{
        display: block;
        cursor: pointer;
        padding: 1rem;
        border-radius: 0.3rem;
    }
    #btn-lupa {
        position: relative;
        left: 0rem;
    }
    .btns-header {
        order: -1;
    }
    #btn-register {
        padding: 1rem 2rem;
        font-size: 0.7rem;
    }
   
   

 }
 @media (max-width: 520px){
    .linha-transversal::after {
        bottom: -5rem;
    }
 }
 @media (max-width: 520px){
    #form {
        width: 100%;
        justify-content: center;
    }
    #btn-lupa {
        position: relative;
        left: 0rem;
    }
 }
 @media (max-width: 413px){
    .second{
        margin-right: 0.5rem;
    }
    .title-content{
        font-size: 0.8rem;
    }
    .div-contain {
        height: auto;
        margin: 0;
        width: 11rem;
    }
    .txt-header h1 {
        font-size: 1.5rem;
    }
   
 }
 @media (max-width: 417px){
    #logo-img {
        width: 17%;
    }
    .navegation-header {
        justify-content: center;
        gap: 1.5rem;
    }
    #search-img{
     padding: 0.5rem;
    }
    .div-contain {
        width: 9rem;
    }
    .infos{
        margin-top: 0.5rem;
    }
    #btn-register {
        padding: 0.7rem 1rem;
    }
 
  
 }
 @media (max-width: 353px){
    .navegation-header {
        justify-content: center;
        gap: 0.9rem;
    }
    .btns-header{
        gap: 1rem;
    }
 }

 /*MAIN*/
 .section-01{
    width: 72rem;
    margin: 10rem auto 5rem;
}
 .video-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 180px auto 130px;
 }
 .text-video{
    width: 50%;
    margin-left: 2rem;
}
 .text-video h3{
    font-size: 2.5rem;
    color: hsl(213, 85%, 8%);
 }
 .text-video p{
    color: rgba(0, 0, 0, 0.46);
    margin-bottom:2rem;
 }
 .btn-howWork{
    border: none;
    border-radius: 2rem;
    background-color:hsl(138, 100%, 82%) ;
    padding: 1.3rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(214, 82%, 11%);
    box-shadow: 0px 9px 17px #00000033;
}
#video-box{
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.218);
    border: 15px solid white;

}
.categorias-oceano {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.categoria-mar{
    width: 20rem;
    color:hsl(214, 82%, 11%) ;
}
.categoria-mar h5{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.categoria-mar p{
    font-size: 1.2rem;
    color:hsla(214, 82%, 11%, 0.681) ;
}
.background-ilustracion-video-section{
    background-image: url(imagens/ilustrações-de-background/ilustra-bussola.1647533643.png);
    background-position: 27% -10%;
    background-repeat: no-repeat;
    background-size: auto; 
}
@media (max-width: 1280px){
    .video-section {
        gap: 2rem;
        justify-content: center;
    }
    .text-video {
        width: 40%;
    }
    .section-01 {
        width: 95vw;
    }
    .text-video h3 {
        font-size: 2.3rem;
        color: hsl(213, 85%, 8%);
        margin-bottom: 2rem;
    }
    .categoria-mar h5 {
        font-size: 1.2rem;
    }
    .categoria-mar p {
        font-size: 1rem;
    }
}
@media (min-width: 1100px){
    .video-section iframe{
        width: 500px;
    
    }
    .video-section {
        gap: 2rem;
        justify-content: center;
        margin: 0px auto 130px;
    }
}
@media (max-width: 920px){
    .video-section {
        flex-direction: column;
        margin: 0px auto 130px;
    }
    .text-video {
        width: 70%;
        margin-left: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .video-section iframe{
        width: 642px;
        height: 500px;
    }
    .categorias-oceano {
        flex-direction: column;
        gap: 3rem;
    }
    .background-ilustracion-video-section{
        background-position: 2% -1%;
    }
}
@media (max-width: 670px){
    .video-section iframe{
     width: 521px;
     height: 321px;
    }
}
@media (max-width: 570px){
    .video-section iframe{
     width: 420px;
     height: 300px;
    }
    .text-video h3 {
        font-size: 2.0rem;
        margin-bottom: 1rem;
        
    }
    .text-video p {
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }
    .background-ilustracion-video-section{
        background-position: -3% -4%;
    }
}

@media (max-width: 444px){
    .video-section iframe {
        width: 350px;
        height: 230px;
    }
    .btn-howWork {
        padding: 1.3rem 2rem;
        width: 294px;
    }
    .section-01 {
        width: 95vw;
        position: relative;
    }
    .background-ilustracion-video-section {
        background-position: -6% -2%;
        background-size: 76%;
    }
}
@media (max-width:390px){
    .text-video {
        width: 90%;
    }
    .video-section iframe{
        width: 300px;
        height: 300px;
    }
    .background-ilustracion-video-section {
        background-position: -26% 0%;
        background-size: 76%;
    }

}



.section-02-courses-sequence{
    background-image: url(imagens/luz-roxa-luz-topo-mask.1647533643.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content-align {
    width: 72rem;
    margin: 0 auto;
    padding: 5rem 0;
}
.text-courses-sequence span{
    font-family: 'Courier New';
    margin-bottom: 1.5rem;
}
.text-courses-sequence {
    color: white;
    width: 50%;
    margin-bottom: 5rem;
}
.text-courses-sequence h2{
    width: 33rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.text-courses-sequence p{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.829);
}
.boxes-courses{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 4rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.second2{
 margin-top: 5rem;
}
.content-list{
    list-style-type: none;
}
.courses-content{
    width: 16rem;
    line-height: 1.5rem;
}
.content-list li a{
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.798);
}
.content-list li a:hover{
     text-decoration: underline;
}
.courses-content span a{
    color: whitesmoke;
    font-weight:  400;
    font-size: 0.8rem;
}

.background-ilustracion-courses-sequense{
    background-image: url(imagens/ilustrações-de-background/ilustracao-02.1647533643.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

@media (max-width: 1280px){
    .background-ilustracion-courses-sequense{
        background-repeat: no-repeat;
        background-position: 72% 0%;
        background-size: 20%;
        position: relative;
    }
    .content-align {
        width: 95vw;
        margin: 0 auto;
        padding: 5rem 0;
    }
}
@media (max-width:990px){
    .background-ilustracion-courses-sequense{
        background-repeat: no-repeat;
        background-position: 80% 0%;
        background-size: 20%;
        position: relative;
    }
    .courses-content {
        width: 13rem;
        line-height: 1.5rem;
    }
}
@media (max-width:890px){
    .background-ilustracion-courses-sequense{
        background-repeat: no-repeat;
        background-position: 86% 0%;
        background-size: 20%;
        position: relative;
    }
    .text-courses-sequence h2 {
        width: 33rem;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    .text-courses-sequence p {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.829);
    }
    .boxes-courses {
        display: flex;
        flex-direction:row;
        align-items: baseline;
        gap: 4rem;
        flex-wrap: wrap;
        justify-content: left;
    }
}
@media (max-width:790px){
    .background-ilustracion-courses-sequense{
        background-repeat: no-repeat;
        background-position: 86% 0%;
        background-size: 30%;
        position: relative;
    }
    .courses-content {
        width: 30%;
        line-height: 1.5rem;
    }
    .text-courses-sequence h2 {
        width: 23rem;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    
}
@media (max-width:590px){
    .background-ilustracion-courses-sequense {
        background-repeat: no-repeat;
        background-position: 99% 0%;
        background-size: 35%;
        position: relative;
    }
    .text-courses-sequence p {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.829);
        width: 23rem;
    }
    .text-courses-sequence {
        color: white;
        width: 95%;
    }

}
@media (max-width:490px){
    .background-ilustracion-courses-sequense {
        background-position: 100% -2%;
        background-size: 50%;
    }
   
    .text-courses-sequence h2 {
        width: 21rem;
        font-size: 2rem;
    }
    .text-courses-sequence p {
        font-size: 1.1rem;
        width: 23rem;
    }
    .boxes-courses {
        flex-direction:column;
    }
    .courses-content {
        width: 50%;
    }
    .courses-content {
        width: 100%;
    }
   
}
@media (max-width:390px){
    .text-courses-sequence p {
        font-size: 1rem;
        width: 100%;
    }
    .background-ilustracion-courses-sequense {
        background-position: 121% -2%;
        background-size: 59%;
    }
    .text-courses-sequence h2 {
        width: 100%;
        font-size: 2rem;
    }

}










.depoimentos-texto {
    width: 72rem;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: hsl(213, 84%, 22%);
}
.text-article-depoimentos {
    height: 100vh;
    width: 25vw;
}
.text-article-depoimentos h3{
    font-size: 3rem;
    color: hsl(213, 84%, 22%);
}
.text-article-depoimentos span{
    font-family: 'Courier New', Courier, monospace;
    color: hsl(213, 84%, 22%);
}
.text-article-depoimentos p {
    color: hsl(214deg 82% 11% / 69%);
}
.background-ilustracion-maior-escola-secao {
    background-image: url(imagens/ilustrações-de-background/ilustracao-03.1647533643.svg);
    background-repeat: no-repeat;
    background-position: 10% 95%;
    background-size: 100%;
}

.icon-quote-background {
    background-image: url(imagens/icon-quote-darker.1647533643.svg);
    background-repeat: no-repeat;
    background-size: 94%;
    background-position: 0% 100%;
    position: relative;
    left: 36rem;
    width: 5vw;
    height: 22vh;
}
.content-depoimentos{
    list-style-type: none;
}
.content-depoimentos {
    list-style-type: none;
    margin-top: 16rem;
}
.img-depointe {
    display: block;
    border-radius: 50%;
    width: 4rem;
    border: 2px solid hsl(203, 89%, 53%);
    position: absolute;
    right: 49%;
}
.segunda{
    right: 46%;
}
.article-depointes {
    box-shadow: 0px 26px 34px rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    border: 1px solid #1961bc30;
    padding: 2rem;
   color: hsla(213, 88%, 10%, 0.863);
   font-family: sans-serif;
   line-height: 1.4rem;
   position: relative;
   bottom: 2rem;
}
.article-depointes p{
    padding-left: 2rem;
}
.depointe-name {
    line-height: 4rem;
    color: #093366;
    font-family: "inter" ;
    padding-left: 2rem;
}
#content-depointe-primeiro {
    width: 37rem;
    margin-bottom: 3rem;
}
#content-depointe-segundo{
    width: 29rem;
    margin-left: 3rem;
}
.span-bold{
    color: #051e3d;
   font-weight: 600;
   font-family: "inter" ;
}

@media (max-width:1280px){
    .background-ilustracion-maior-escola-secao {
        background-position: 23% 99%;
        background-size: 93%;
    }
    .depoimentos-texto {
        width: 72rem;
        margin: 5rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: hsl(213, 84%, 22%);
    }
}