*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "inter" ;
}
/*FONT*/
@font-face {
    font-family: "inter" ;
    src: url("fonte/Inter-Desktop/Inter-Medium.otf") format("opentype")
}













/*HEADER*/
.bckg-header{
    background-image: url(imagens/luz-roxa-luz-topo-mask.1647533643.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navegation-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   width: 65vw;
   margin: auto;
   padding-top: 2rem;
   text-transform: uppercase;
   font-family: "inter" ;
}
.navegation-header ul li a{
    color: rgba(222, 238, 252, 0.839);
}
.navegation-header ul li a:hover{
    color: rgba(255, 255, 255, 0.357);
}
#form{
    border: 1px solid rgba(255, 255, 255, 0.357);
    padding: 0.9rem  1.5rem;
    display: flex;
    align-items: center;
    border-radius:0.2rem ;
    justify-content: space-between;
    width: 20vw;
    
}
#search{
    border: none;
    background-color: transparent;
}
#btn-lupa{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.infos{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    font-size: 0.9rem;
    align-items: center;
}
.infos li a{
    color: white;
   text-decoration: none;
}
.btns-header{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    color: white;
    align-items: center;
}
.btns-header li a{
    color: white;
    text-decoration: none;
}
#btn-login{
    font-size: 0.9rem;
}
#btn-register{
    color: black;
    background-color: hsl(138, 100%, 82%);
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 0.9rem;
}
#btn-register:hover{
    padding:1.3rem 3.2rem;
   transition-duration: 0.5s;
}
.home-header{
    width: 65vw;
    margin: auto;
}
.txt-header{
    color: white;
    width: 50%;
    margin-bottom: 2rem;
}
.txt-header h1{
    font-size: 3.3rem;
    text-transform: capitalize;
    width: 60%;
    margin-bottom: 2rem;
}
.txt-header p {
    width: 70%;
    color: #ffffffa3;
}
.header-backgound{
    padding: 2rem 0;
    background-image: url(imagens/ilustrações-de-background/ilustra-alura-escafandro.1647533643.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size:auto;
    margin-top: 4rem;
    z-index: 5;
}

.contain-elements{
    display: flex;
    width: 70vw;
    gap: 1rem; 
}
.contain-elements a{
    text-decoration: none;
}

.second{
    margin-top: 0.5rem;
}
.div-contain{
    width: 10vw;
    background-color: hsl(214, 82%, 11%);
    border: 1px solid hsl(213, 83%, 35%);
    padding: 1rem;
    border-radius: 0.5rem;
    height: 13rem;
    transform: translateY(0);
    transition-duration: 0.5s;
    z-index: 3;
}
.flex-small-view{
    position: relative;
    z-index: 5;
}
.div-contain:hover{
    border: 1px solid hsl(213, 72%, 65%); 
    transform: translateY(10px);
}
.div-contain p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.77);
}
.div-contain p:hover{
    text-decoration: underline;   
}
.categories-link-text{
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
}
.title-content {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0.5rem 0;
}
.color1{
    color:hsl(154, 100%, 38%) ;
}
.color2{
    color:hsl(199, 93%, 69%);
}
.color3{
    color:hsl(85, 51%, 47%);
}
.color4{
    color:hsl(358, 83%, 66%) ;
}
.color5{
    color:hsl(310, 34%, 53%) ;
}
.color6{
    color:hsl(43, 97%, 51%);
}

.color7{
    color:hsl(27, 99%, 58%);
}


#linha-transversal::after {
    content: '';
    width: 100%;
    height: 13em;
    position: absolute;
    bottom: 2em;
    background: #fff;
    -webkit-transform: skewY(-6deg);
    transform: skewY(-2deg);
}